#main-view-backgound {
}

.algin-view{
    margin: 0 8% 0 8%;
}

.algin-content{
    display: flex;
    flex-direction: row;
}
.cards-align{
    display: flex;
    position: relative;
    margin-left: 10%;
}
.align-left-text{
    float: left;
}
.align-first-card{
    margin-top: 80px;
}

@media screen and (max-width: 1010px) {
    .align-first-card{
        margin-top: 15px;
    }
}




